<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Spark Design System Tests</title>
  <link rel="stylesheet" href="main.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
</head>
<body>
  <section>
    <header>
      <img class="sdst-logo" src="spark_logo.jpg" alt="Spark Design System Logo">
    </header>
    {% if subtemplate %}
      {% include subtemplate ignore missing %}
    {% endif %}
  </section>
</body>
</html>
