<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Spark Design System Tests</title>
</head>
<body>
  <h1>Spark Design System Tests</h1>
  {% if subtemplate %}
    {% include subtemplate %}
  {% endif %}
</body>
</html>
