<section>
  <header>
    <h2>Buttons</h2>
  </header>

  <h3>Plain HTML</h3>
  <button class="sprk-c-Button sprk-c-Button--primary">Button Button</button>

  <a href="" class="sprk-c-Button sprk-c-Button--primary">
    Link Button
  </a>
</section>;
