<section>
  <header>
    <h1 class="sdst-heading">Buttons</h1>
  </header>

  <button class="sprk-c-Button sprk-c-Button--primary">Button Button</button>

  <a href="" class="sprk-c-Button sprk-c-Button--primary">
    Link Button
  </a>
</section>
