<section>
  <header>
    <h1 class="sdst-heading">Buttons</h1>
  </header>

  <div>
    <button class="sprk-c-Button sprk-c-Button--primary">Button Button</button>
  </div>

  <div>
    <a href="" class="sprk-c-Button sprk-c-Button--primary">
      Link Button
    </a>
  </div>

  <div>
    <button class="sprk-c-Button sprk-c-Button--secondary">
      Button Button
    </button>
  </div>

  <div>
    <a href="" class="sprk-c-Button sprk-c-Button--secondary">
      Link Button
    </a>
  </div>

  <div>
    <button class="sprk-c-Button sprk-c-Button--removal">Button Button</button>
  </div>

  <div>
    <a href="" class="sprk-c-Button sprk-c-Button--removal">
      Link Button
    </a>
  </div>

  <div>
    <button class="sprk-c-Button sprk-c-Button--primary">
      <span class="sprk-c-Spinner sprk-c-Spinner--circle" />
    </button>
  </div>

  <div>
    <button class="sprk-c-Button sprk-c-Button--primary sprk-c-Button--full@sm">
      Button Button
    </button>

    <a
      href=""
      class="sprk-c-Button sprk-c-Button--primary sprk-c-Button--full@sm"
    >
      Link Button
    </a>
  </div>
</section>
