<section>
  <header>
    <h1 class="sdst-heading">Colors</h1>
  </header>

  <div class="sdst-color-box sdst-blue-dark"></div>
  <div class="sdst-color-box sdst-blue-medium"></div>
  <div class="sdst-color-box sdst-blue-light"></div>

  <div class="sdst-color-box sdst-red-dark"></div>
  <div class="sdst-color-box sdst-red-medium"></div>
  <div class="sdst-color-box sdst-red-light"></div>
  <div class="sdst-color-box sdst-purple-dark"></div>
  <div class="sdst-color-box sdst-purple"></div>
  <div class="sdst-color-box sdst-orange-dark"></div>
  <div class="sdst-color-box sdst-orange-medium"></div>
  <div class="sdst-color-box sdst-green-dark"></div>
  <div class="sdst-color-box sdst-green-medium"></div>
  <div class="sdst-color-box sdst-green-light"></div>

  <div class="sdst-color-box sdst-black"></div>
  <div class="sdst-color-box sdst-gray-dark"></div>
  <div class="sdst-color-box sdst-gray-medium"></div>
  <div class="sdst-color-box sdst-gray-light"></div>
  <div class="sdst-color-box sdst-white"></div>
</section>
