<section>
    <header>
        <h1 class="sdst-heading">Inputs</h1>
    </header>

    <div>
        <div class="sprk-b-InputContainer">
            <label for="email">Email</label>
            <input class="sprk-b-TextInput sprk-u-Size-100" id="email" type="email" placeholder="user@name.com">
            <span class="sprk-b-HelperText">Enter the email address you signed up with.</span>
        </div>
    </div>

    <div>
        <div class="sprk-b-InputContainer">
            <label for="email">Email</label>
            <input class="sprk-b-TextInput b-TextInput--error sprk-u-Size-100" id="email" type="email" placeholder="user@name.com">
            <span class="sprk-b-ErrorText">There is an error on this field.</span>
        </div>
    </div>

    <div>
        <div class="sprk-b-InputContainer">
            <label for="email">Email</label>
            <input disabled class="sprk-b-TextInput sprk-u-Size-100" id="email" type="email" value="user@name.com">
        </div>
    </div>

    <div>
        <div class="sprk-b-InputContainer">
            <label for="description">Description</label>
            <textarea class="sprk-b-TextInput sprk-u-Size-100" id="description"></textarea>
        </div>
    </div>

    <div>
        <div class="sprk-b-InputContainer">
            <label id="signup-label">Sign up for stuff</label>

            <div class="sprk-b-SelectionContainer">
                <input id="newsletter" type="checkbox" aria-labelledby="signup-label">
                <label for="newsletter" class="sprk-b-Label--inline sprk-u-mls">Send me the newsletter</label>
            </div>

            <div class="sprk-b-SelectionContainer">
                <input id="magazine" type="checkbox" aria-labelledby="signup-label">
                <label for="magazine" class="sprk-b-Label--inline sprk-u-mls">Send me the magazine</label>
            </div>

            <div class="sprk-b-SelectionContainer">
                <input id="texts" type="checkbox" aria-labelledby="signup-label">
                <label for="texts" class="sprk-b-Label--inline sprk-u-mls">Send me text messages</label>
            </div>
        </div>
    </div>

    <div>
        <div class="sprk-b-InputContainer">
            <label for="county">Choose your county</label>
            <select id="county">
                <option>Wayne</option>
                <option>Oakland</option>
                <option>Washtenaw</option>
            </select>
        </div>
    </div>

    <div>
        <div class="sprk-b-InputContainer">
            <label for="ssn">Social Security #</label>
            <input class="sprk-b-TextInput sprk-u-Size-100 js-ssn" id="ssn" type="text" placeholder="000-00-0000">
            <div class="sprk-b-SelectionContainer">
                <input id="show-ssn" type="checkbox" class="js-remove-mask">
                <label for="show-ssn" class="sprk-b-Label--inline sprk-u-mls">Show SSN</label>
            </div>
        </div>
    </div>

    <div>
        <div class="sprk-b-InputContainer">
            <label for="password">Password</label>
            <input class="sprk-b-TextInput sprk-u-Size-100 js-password" id="password" type="password">
            <div class="sprk-b-SelectionContainer">
                <input id="show-password" type="checkbox" class="js-remove-mask">
                <label for="show-password" class="sprk-b-Label--inline sprk-u-mls">Show Password</label>
            </div>
        </div>
    </div>

    <div>
        <label for="phone">Phone Number</label>
        <input class="sprk-b-TextInput sprk-u-Size-100" id="phone" type="tel" placeholder="(000) 000-0000">
    </div>

    <div>
        <div class="sprk-b-InputContainer">
            <label for="payment">Payment</label>
            <span class="sprk-b-TextInput--monetary">
                <input class="sprk-b-TextInput sprk-u-Size-100 sprk-u-plm" id="payment">
              </span>
        </div>
    </div>

    <div>
        <div class="sprk-b-InputContainer">
            <label for="date">Birth Date</label>
            <input class="sprk-b-TextInput sprk-u-Size-100" id="date" type="text" placeholder="MM/DD/YYYY">
        </div>
    </div>

    <div>
        <div class="sprk-b-InputContainer">
            <label for="future-date">Select payment date</label>
            <input class="sprk-b-TextInput sprk-b-TextInput--date-picker sprk-u-Size-100" id="future-date" type="text" placeholder="MM/DD/YYYY">
        </div>

        <div class="sprk-c-DatePicker">
            <header class="sprk-c-DatePicker__header">
                <h2 class="sprk-c-DatePicker__month-year">January 2040</h2>
                <span class="sprk-c-DatePicker__back">
      <svg class="sprk-c-Icon sprk-c-Icon--big" viewBox="0 0 100 100">
        <!-- href should point to the icon svg in your project -->
        <use xlink:href="../../assets/toolkit/images/icons.svg#chevron-left" />
      </svg>
    </span>
                <span class="sprk-c-DatePicker__forward">
      <svg class="sprk-c-Icon sprk-c-Icon--big" viewBox="0 0 100 100">
        <!-- href should point to the icon svg in your project -->
        <use xlink:href="../../assets/toolkit/images/icons.svg#chevron-right" />
      </svg>
    </span>
            </header>
            <table class="sprk-c-DatePicker__table table--fixed">
                <thead class="sprk-c-DatePicker__thead">
                <tr>
                    <th>Sun</th>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thu</th>
                    <th>Fri</th>
                    <th>Sat</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="sprk-c-DatePicker__day">1</td>
                    <td class="sprk-c-DatePicker__day">2</td>
                    <td class="sprk-c-DatePicker__day">3</td>
                    <td class="sprk-c-DatePicker__day">4</td>
                    <td class="sprk-c-DatePicker__day">5</td>
                    <td class="sprk-c-DatePicker__day">6</td>
                    <td class="sprk-c-DatePicker__day">7</td>
                </tr>
                <tr>
                    <td class="sprk-c-DatePicker__day">8</td>
                    <td class="sprk-c-DatePicker__day">9</td>
                    <td class="sprk-c-DatePicker__day">10</td>
                    <td class="sprk-c-DatePicker__day">11</td>
                    <td class="sprk-c-DatePicker__day">12</td>
                    <td class="sprk-c-DatePicker__day">13</td>
                    <td class="sprk-c-DatePicker__day">14</td>
                </tr>
                <tr>
                    <td class="sprk-c-DatePicker__day">15</td>
                    <td class="sprk-c-DatePicker__day">16</td>
                    <td class="sprk-c-DatePicker__day">17</td>
                    <td class="sprk-c-DatePicker__day sprk-c-DatePicker__day--current">18</td>
                    <td class="sprk-c-DatePicker__day">19</td>
                    <td class="sprk-c-DatePicker__day">20</td>
                    <td class="sprk-c-DatePicker__day">21</td>
                </tr>
                <tr>
                    <td class="sprk-c-DatePicker__day">22</td>
                    <td class="sprk-c-DatePicker__day">23</td>
                    <td class="sprk-c-DatePicker__day">24</td>
                    <td class="sprk-c-DatePicker__day">25</td>
                    <td class="sprk-c-DatePicker__day">26</td>
                    <td class="sprk-c-DatePicker__day">27</td>
                    <td class="sprk-c-DatePicker__day">28</td>
                </tr>
                <tr>
                    <td class="sprk-c-DatePicker__day">29</td>
                    <td class="sprk-c-DatePicker__day">30</td>
                    <td class="sprk-c-DatePicker__day">31</td>
                    <td class="sprk-c-DatePicker__day sprk-c-DatePicker__day--muted">1</td>
                    <td class="sprk-c-DatePicker__day sprk-c-DatePicker__day--muted">2</td>
                    <td class="sprk-c-DatePicker__day sprk-c-DatePicker__day--muted">3</td>
                    <td class="sprk-c-DatePicker__day sprk-c-DatePicker__day--muted">4</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div>
        <div class="sprk-b-InputContainer">
            <label for="password">Password</label>
            <input class="sprk-b-TextInput sprk-u-Size-100 js-password" id="password" type="password">
            <div class="sprk-b-SelectionContainer">
                <input id="show-password" type="checkbox" class="js-remove-mask">
                <label for="show-password" class="sprk-b-Label--inline sprk-u-mls">Show Password</label>
            </div>

            <ul class="sprk-c-ValidationCriteria sprk-b-List--bare sprk-u-mts">
                <li class="sprk-c-ValidationCriteria__item sprk-c-ValidationCriteria__item--unmet">
                    <svg class="sprk-c-Icon" viewBox="0 0 100 100">
                        <!-- href should point to the icon svg in your project -->
                        <use xlink:href="../../assets/toolkit/images/icons.svg#times" />
                    </svg>
                    <span class="">8 or more characters</span>
                </li>
                <li class="sprk-c-ValidationCriteria__item sprk-c-ValidationCriteria__item--unmet">
                    <svg class="sprk-c-Icon" viewBox="0 0 100 100">
                        <!-- href should point to the icon svg in your project -->
                        <use xlink:href="../../assets/toolkit/images/icons.svg#times" />
                    </svg>
                    <span class="">Upper and lowercase letters</span>
                </li>
                <li class="sprk-c-ValidationCriteria__item sprk-c-ValidationCriteria__item--unmet">
                    <svg class="sprk-c-Icon" viewBox="0 0 100 100">
                        <!-- href should point to the icon svg in your project -->
                        <use xlink:href="../../assets/toolkit/images/icons.svg#times" />
                    </svg>
                    <span class="">Use a number</span>
                </li>
            </ul>
        </div>
    </div>

    <div>
        <div class="sprk-b-InputContainer">
            <label for="password">Password</label>
            <input class="sprk-b-TextInput sprk-u-Size-100 js-password" id="password" type="password">
            <div class="sprk-b-SelectionContainer">
                <input id="show-password" type="checkbox" class="js-remove-mask">
                <label for="show-password" class="sprk-b-Label--inline sprk-u-mls">Show Password</label>
            </div>

            <ul class="sprk-c-ValidationCriteria sprk-b-List--bare sprk-u-mts">
                <li class="sprk-c-ValidationCriteria__item sprk-c-ValidationCriteria__item--met">
                    <svg class="sprk-c-Icon" viewBox="0 0 100 100">
                        <!-- href should point to the icon svg in your project -->
                        <use xlink:href="../../assets/toolkit/images/icons.svg#check" />
                    </svg>
                    <span class="">8 or more characters</span>
                </li>
                <li class="sprk-c-ValidationCriteria__item sprk-c-ValidationCriteria__item--unmet">
                    <svg class="sprk-c-Icon" viewBox="0 0 100 100">
                        <!-- href should point to the icon svg in your project -->
                        <use xlink:href="../../assets/toolkit/images/icons.svg#times" />
                    </svg>
                    <span class="">Upper and lowercase letters</span>
                </li>
                <li class="sprk-c-ValidationCriteria__item sprk-c-ValidationCriteria__item--met">
                    <svg class="sprk-c-Icon" viewBox="0 0 100 100">
                        <!-- href should point to the icon svg in your project -->
                        <use xlink:href="../../assets/toolkit/images/icons.svg#check" />
                    </svg>
                    <span class="">Use a number</span>
                </li>
            </ul>
        </div>
    </div>

    <div>
        <div class="sprk-b-InputContainer">
            <label for="password">Password</label>
            <input class="sprk-b-TextInput sprk-u-Size-100 js-password" id="password" type="password">
            <div class="sprk-b-SelectionContainer">
                <input id="show-password" type="checkbox" class="js-remove-mask">
                <label for="show-password" class="sprk-b-Label--inline sprk-u-mls">Show Password</label>
            </div>

            <ul class="sprk-c-ValidationCriteria sprk-b-List--bare sprk-u-mts">
                <li class="sprk-c-ValidationCriteria__item sprk-c-ValidationCriteria__item--met">
                    <svg class="sprk-c-Icon" viewBox="0 0 100 100">
                        <!-- href should point to the icon svg in your project -->
                        <use xlink:href="../../assets/toolkit/images/icons.svg#check" />
                    </svg>
                    <span class="">8 or more characters</span>
                </li>
                <li class="sprk-c-ValidationCriteria__item sprk-c-ValidationCriteria__item--met">
                    <svg class="sprk-c-Icon" viewBox="0 0 100 100">
                        <!-- href should point to the icon svg in your project -->
                        <use xlink:href="../../assets/toolkit/images/icons.svg#check" />
                    </svg>
                    <span class="">Upper and lowercase letters</span>
                </li>
                <li class="sprk-c-ValidationCriteria__item sprk-c-ValidationCriteria__item--met">
                    <svg class="sprk-c-Icon" viewBox="0 0 100 100">
                        <!-- href should point to the icon svg in your project -->
                        <use xlink:href="../../assets/toolkit/images/icons.svg#check" />
                    </svg>
                    <span class="">Use a number</span>
                </li>
            </ul>
        </div>
    </div>

    <div>
        <div class="sprk-b-InputContainer">
            <label for="password">Password</label>
            <input class="sprk-b-TextInput sprk-b-TextInput--error sprk-u-Size-100 js-password" id="password" type="password">
            <div class="sprk-b-SelectionContainer">
                <input id="show-password" type="checkbox" class="js-remove-mask">
                <label for="show-password" class="sprk-b-Label--inline sprk-u-mls">Show Password</label>
            </div>

            <ul class="sprk-c-ValidationCriteria sprk-b-List--bare sprk-u-mts">
                <li class="sprk-c-ValidationCriteria__item sprk-c-ValidationCriteria__item--met">
                    <svg class="sprk-c-Icon" viewBox="0 0 100 100">
                        <!-- href should point to the icon svg in your project -->
                        <use xlink:href="../../assets/toolkit/images/icons.svg#check" />
                    </svg>
                    <span class="">8 or more characters</span>
                </li>
                <li class="sprk-c-ValidationCriteria__item sprk-c-ValidationCriteria__item--error">
                    <svg class="sprk-c-Icon" viewBox="0 0 100 100">
                        <!-- href should point to the icon svg in your project -->
                        <use xlink:href="../../assets/toolkit/images/icons.svg#times" />
                    </svg>
                    <span class="">Upper and lowercase letters</span>
                </li>
                <li class="sprk-c-ValidationCriteria__item sprk-c-ValidationCriteria__item--met">
                    <svg class="sprk-c-Icon" viewBox="0 0 100 100">
                        <!-- href should point to the icon svg in your project -->
                        <use xlink:href="../../assets/toolkit/images/icons.svg#check" />
                    </svg>
                    <span class="">Use a number</span>
                </li>
            </ul>
        </div>
    </div>

    <div>
        <form>

            <div class="sprk-b-InputContainer">
                <label for="email">Email</label>
                <input class="sprk-b-TextInput sprk-u-Size-100" id="email" type="email" placeholder="user@name.com">
                <span class="sprk-b-HelperText">Enter the email address you signed up with.</span>
            </div>

            <div class="sprk-b-InputContainer">
                <label for="password">Password</label>
                <input class="sprk-b-TextInput sprk-u-Size-100 js-password" id="password" type="password">
                <div class="sprk-b-SelectionContainer">
                    <input id="show-password" type="checkbox" class="js-remove-mask">
                    <label for="show-password" class="sprk-b-Label--inline sprk-u-mls">Show Password</label>
                </div>

                <ul class="sprk-c-ValidationCriteria sprk-b-List--bare sprk-u-mts">
                    <li class="sprk-c-ValidationCriteria__item sprk-c-ValidationCriteria__item--unmet">
                        <svg class="sprk-c-Icon" viewBox="0 0 100 100">
                            <!-- href should point to the icon svg in your project -->
                            <use xlink:href="../../assets/toolkit/images/icons.svg#times" />
                        </svg>
                        <span class="">8 or more characters</span>
                    </li>
                    <li class="sprk-c-ValidationCriteria__item sprk-c-ValidationCriteria__item--unmet">
                        <svg class="sprk-c-Icon" viewBox="0 0 100 100">
                            <!-- href should point to the icon svg in your project -->
                            <use xlink:href="../../assets/toolkit/images/icons.svg#times" />
                        </svg>
                        <span class="">Upper and lowercase letters</span>
                    </li>
                    <li class="sprk-c-ValidationCriteria__item sprk-c-ValidationCriteria__item--unmet">
                        <svg class="sprk-c-Icon" viewBox="0 0 100 100">
                            <!-- href should point to the icon svg in your project -->
                            <use xlink:href="../../assets/toolkit/images/icons.svg#times" />
                        </svg>
                        <span class="">Use a number</span>
                    </li>
                </ul>
            </div>

            <div class="sprk-b-InputContainer">
                <label for="phone">Phone Number</label>
                <input class="sprk-b-TextInput sprk-u-Size-100" id="phone" type="tel" placeholder="(000) 000-0000">
            </div>

            <div class="sprk-b-InputContainer">
                <label for="county">Choose your county</label>
                <select id="county">
                    <option>Wayne</option>
                    <option>Oakland</option>
                    <option>Washtenaw</option>
                </select>
            </div>

            <div class="sprk-b-InputContainer">
                <label for="ssn">Social Security #</label>
                <input class="sprk-b-TextInput sprk-u-Size-100 js-ssn" id="ssn" type="text" placeholder="000-00-0000">
                <div class="sprk-b-SelectionContainer">
                    <input id="show-ssn" type="checkbox" class="js-remove-mask">
                    <label for="show-ssn" class="sprk-b-Label--inline sprk-u-mls">Show SSN</label>
                </div>
            </div>

            <div class="sprk-b-InputContainer">
                <label for="payment">Payment</label>
                <span class="sprk-b-TextInput--monetary">
      <input class="sprk-b-TextInput sprk-u-Size-100 sprk-u-plm" id="payment">
    </span>
            </div>

            <div class="sprk-b-InputContainer">
                <label for="future-date">Select payment date</label>
                <input class="sprk-b-TextInput sprk-b-TextInput--date-picker sprk-u-Size-100" id="future-date" type="text" placeholder="MM/DD/YYYY">
            </div>

            <div class="sprk-c-DatePicker">
                <header class="sprk-c-DatePicker__header">
                    <h2 class="sprk-c-DatePicker__month-year">January 2040</h2>
                    <span class="sprk-c-DatePicker__back">
        <svg class="sprk-c-Icon sprk-c-Icon--big" viewBox="0 0 100 100">
          <!-- href should point to the icon svg in your project -->
          <use xlink:href="../../assets/toolkit/images/icons.svg#chevron-left" />
        </svg>
      </span>
                    <span class="sprk-c-DatePicker__forward">
        <svg class="sprk-c-Icon sprk-c-Icon--big" viewBox="0 0 100 100">
          <!-- href should point to the icon svg in your project -->
          <use xlink:href="../../assets/toolkit/images/icons.svg#chevron-right" />
        </svg>
      </span>
                </header>
                <table class="sprk-c-DatePicker__table table--fixed">
                    <thead class="sprk-c-DatePicker__thead">
                    <tr>
                        <th>Sun</th>
                        <th>Mon</th>
                        <th>Tue</th>
                        <th>Wed</th>
                        <th>Thu</th>
                        <th>Fri</th>
                        <th>Sat</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="sprk-c-DatePicker__day">1</td>
                        <td class="sprk-c-DatePicker__day">2</td>
                        <td class="sprk-c-DatePicker__day">3</td>
                        <td class="sprk-c-DatePicker__day">4</td>
                        <td class="sprk-c-DatePicker__day">5</td>
                        <td class="sprk-c-DatePicker__day">6</td>
                        <td class="sprk-c-DatePicker__day">7</td>
                    </tr>
                    <tr>
                        <td class="sprk-c-DatePicker__day">8</td>
                        <td class="sprk-c-DatePicker__day">9</td>
                        <td class="sprk-c-DatePicker__day">10</td>
                        <td class="sprk-c-DatePicker__day">11</td>
                        <td class="sprk-c-DatePicker__day">12</td>
                        <td class="sprk-c-DatePicker__day">13</td>
                        <td class="sprk-c-DatePicker__day">14</td>
                    </tr>
                    <tr>
                        <td class="sprk-c-DatePicker__day">15</td>
                        <td class="sprk-c-DatePicker__day">16</td>
                        <td class="sprk-c-DatePicker__day">17</td>
                        <td class="sprk-c-DatePicker__day sprk-c-DatePicker__day--current">18</td>
                        <td class="sprk-c-DatePicker__day">19</td>
                        <td class="sprk-c-DatePicker__day">20</td>
                        <td class="sprk-c-DatePicker__day">21</td>
                    </tr>
                    <tr>
                        <td class="sprk-c-DatePicker__day">22</td>
                        <td class="sprk-c-DatePicker__day">23</td>
                        <td class="sprk-c-DatePicker__day">24</td>
                        <td class="sprk-c-DatePicker__day">25</td>
                        <td class="sprk-c-DatePicker__day">26</td>
                        <td class="sprk-c-DatePicker__day">27</td>
                        <td class="sprk-c-DatePicker__day">28</td>
                    </tr>
                    <tr>
                        <td class="sprk-c-DatePicker__day">29</td>
                        <td class="sprk-c-DatePicker__day">30</td>
                        <td class="sprk-c-DatePicker__day">31</td>
                        <td class="sprk-c-DatePicker__day sprk-c-DatePicker__day--muted">1</td>
                        <td class="sprk-c-DatePicker__day sprk-c-DatePicker__day--muted">2</td>
                        <td class="sprk-c-DatePicker__day sprk-c-DatePicker__day--muted">3</td>
                        <td class="sprk-c-DatePicker__day sprk-c-DatePicker__day--muted">4</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="sprk-b-InputContainer">
                <label for="description">Description</label>
                <textarea class="sprk-b-TextInput sprk-u-Size-100" id="description"></textarea>
            </div>

            <div class="sprk-b-InputContainer">
                <label id="signup-label">Sign up for stuff</label>

                <div class="sprk-b-SelectionContainer">
                    <input id="newsletter" type="checkbox" aria-labelledby="signup-label">
                    <label for="newsletter" class="sprk-b-Label--inline sprk-u-mls">Send me the newsletter</label>
                </div>

                <div class="sprk-b-SelectionContainer">
                    <input id="magazine" type="checkbox" aria-labelledby="signup-label">
                    <label for="magazine" class="sprk-b-Label--inline sprk-u-mls">Send me the magazine</label>
                </div>

                <div class="sprk-b-SelectionContainer">
                    <input id="texts" type="checkbox" aria-labelledby="signup-label">
                    <label for="texts" class="sprk-b-Label--inline sprk-u-mls">Send me text messages</label>
                </div>
            </div>

            <div class="sprk-b-InputContainer">
                <label id="notification-label">Notification Preference</label>

                <div class="sprk-b-SelectionContainer">
                    <input id="email-pref" name="notification-pref" type="radio" checked="checked" aria-labelledby="notification-label">
                    <label class="sprk-b-Label--inline sprk-u-mls" for="email-pref">Email</label>
                </div>

                <div class="sprk-b-SelectionContainer">
                    <input id="text-pref" name="notification-pref" type="radio" aria-labelledby="notification-label">
                    <label class="sprk-b-Label--inline sprk-u-mls" for="text-pref">Text</label>
                </div>

                <div class="sprk-b-SelectionContainer">
                    <input id="email-and-text-pref" name="notification-pref" type="radio" aria-labelledby="notification-label">
                    <label class="sprk-b-Label--inline sprk-u-mls" for="email-and-text-pref">Email &amp; Text</label>
                </div>
            </div>

        </form>
    </div>

</section>