<section>
    <header>
        <h1 class="sdst-heading">Links</h1>
    </header>
    <div>
        <a class="sprk-b-Link" href="">This is a link</a>
    </div>
    <div>
        <a class="sprk-b-Link--visited" href="">This is a visited link</a>
    </div>
    <div>
        <a class="sprk-b-Link--plain" href="">This is a plain link</a>
    </div>
</section>