<section>
  <header>
    <h1 class="sdst-heading">Spinners</h1>
  </header>

  <div class="sdst-color-box sdst-gray-medium">
      <span class="sprk-c-Spinner sprk-c-Spinner--circle"></span>
  </div>

  <div class="sdst-color-box sdst-gray-medium">
      <span class="sprk-c-Spinner sprk-c-Spinner--circle sprk-c-Spinner--large"></span>
  </div>
</section>
