<section>
  <header>
    <h1 class="sdst-heading">Typography</h1>
  </header>

  <h1 class="sprk-b-Heading sprk-b-Heading--primary">
    This Is A Primary Heading
  </h1>
  <h2 class="sprk-b-Heading sprk-b-Heading--secondary">
    This Is A Secondary Heading
  </h2>
  <h3 class="sprk-b-Heading sprk-b-Heading--sub">This Is A Tertiary Heading</h3>

  <p class="sprk-b-BodyCopy">
    <strong>This is some body copy.</strong> Lorem ipsum dolor sit amet,
    consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
    ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
    dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
    officia deserunt mollit anim id est laborum.
  </p>

  <p class="sprk-b-Legal">
    <strong>This is some legal text.</strong> Lorem ipsum dolor sit amet,
    consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
    ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
    dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
    officia deserunt mollit anim id est laborum.
  </p>

  <p class="sprk-b-Caption">
    <strong>This is some caption text.</strong> Lorem ipsum dolor sit amet,
    consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
    ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
    dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
    officia deserunt mollit anim id est laborum.
  </p>
</section>;
