
.sdst-color-box {
  border: 2px dashed #333;
  height: 150px;
  margin: .5rem;
  width: 300px;
}

.sdst-blue-dark {
  background-color: $blue-dark;
}

.sdst-blue-medium {
  background-color: $blue-medium;
}

.sdst-blue-light {
  background-color: $blue-light;
}

.sdst-red-dark {
  background-color: $red-dark;
}

.sdst-red-medium {
  background-color: $red-medium;
}

.sdst-red-light {
  background-color: $red-light;
}

.sdst-purple-dark {
  background-color: $purple-dark;
}

.sdst-purple {
  background-color: $purple;
}

.sdst-orange-dark {
  background-color: $orange-dark;
}

.sdst-orange-medium {
  background-color: $orange-medium;
}

.sdst-green-dark {
  background-color: $green-dark;
}

.sdst-green-medium {
  background-color: $green-medium;
}

.sdst-green-light {
  background-color: $green-light;
}

.sdst-black {
  background-color: $black;
}

.sdst-gray-dark {
  background-color: $gray-dark;
}

.sdst-gray-medium {
  background-color: $gray-medium;
}

.sdst-gray-light {
  background-color: $gray-light;
}

.sdst-white {
  background-color: $white;
}