.sdst-heading,
.sdst-sub-heading {
  font-family: Roboto;
  font-size: 2rem;
  font-weight: 400;
}

.sdst-heading {
  border-bottom: 1px solid #ccc;
  margin-bottom: 2rem;
  padding: .4rem;
}

.sdst-sub-heading {
  font-size: 1.5rem;
  font-weight: 300;
}
